In [1]:
import pandas as pd
import numpy as np
import optuna

/home/harkhymadhe/mambaforge/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv("game_data_levels.csv")

In [3]:
df.head()

,AddMoves,BuyMoreMoves,Churn,DoubleMana,EndType,ExtraMoves,Level,LevelType,LevelVersion,MaxLevel,...,Scores,ServerTime,StartMoves,SubLevel,UsedChangeCar,UsedCoins,UsedMoves,UserID,Variant,WatchedVideo
0,0,0,0,0,Lose,0,80,Saga,6,80,...,2300,2019-01-01 00:00:08,22,50,0,0,22,0UAqFzWsDK4FrUMp48Y3,0,0
1,0,0,0,0,Lose,0,275,Saga,8,275,...,2865,2019-01-01 00:00:14,13,50,0,0,13,tT3QDgAL47D1qXIaSyZP,0,0
2,0,1,0,0,Win,5,4226,Saga,0,4226,...,4560,2019-01-01 00:00:16,21,0,0,27,26,aE1pu1lJo7XBetF5gIRH,0,0
3,0,0,0,0,Lose,0,131,Saga,0,131,...,2970,2019-01-01 00:00:27,13,50,0,0,13,YH7LKBKxJsllLODfU250,0,0
4,0,0,0,0,Lose,0,131,Saga,0,131,...,2180,2019-01-01 00:00:29,17,50,0,0,17,35HyRrY03K6JBO94XfLE,0,0

In [4]:
df['Churn'].value_counts()

Churn
0    784503
1      5376
Name: count, dtype: int64

In [5]:
df.columns

Index(['AddMoves', 'BuyMoreMoves', 'Churn', 'DoubleMana', 'EndType',
       'ExtraMoves', 'Level', 'LevelType', 'LevelVersion', 'MaxLevel',
       'NextCar', 'Platform', 'PlayTime', 'RollingLosses', 'Scores',
       'ServerTime', 'StartMoves', 'SubLevel', 'UsedChangeCar', 'UsedCoins',
       'UsedMoves', 'UserID', 'Variant', 'WatchedVideo'],
      dtype='object')

In [6]:
len(df.columns)

24

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789879 entries, 0 to 789878
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   AddMoves       789879 non-null  int64
 1   BuyMoreMoves   789879 non-null  int64
 2   Churn          789879 non-null  int64
 3   DoubleMana     789879 non-null  int64
 4   EndType        789879 non-null  object
 5   ExtraMoves     789879 non-null  int64
 6   Level          789879 non-null  int64
 7   LevelType      789879 non-null  object
 8   LevelVersion   789879 non-null  int64
 9   MaxLevel       789879 non-null  int64
 10  NextCar        789879 non-null  int64
 11  Platform       789879 non-null  object
 12  PlayTime       789879 non-null  int64
 13  RollingLosses  789879 non-null  float64
 14  Scores         789879 non-null  int64
 15  ServerTime     789879 non-null  object
 16  StartMoves     789879 non-null  int64
 17  SubLevel       789879 non-null  int64
 18  UsedChangeCar  789879 non-null  int64
 19  UsedCoins      789879 non-null  int64
 20  UsedMoves      789879 non-null  int64
 21  UserID         789879 non-null  object
 22  Variant        789879 non-null  int64
 23  WatchedVideo   789879 non-null  int64
dtypes: float64(1), int64(18), object(5)
memory usage: 144.6+ MB

In [8]:
df["ServerTime"] = pd.to_datetime(df["ServerTime"])
df["ServerTime"] = pd.to_datetime(df["ServerTime"], format="%Y-%m-%d")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789879 entries, 0 to 789878
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   AddMoves       789879 non-null  int64
 1   BuyMoreMoves   789879 non-null  int64
 2   Churn          789879 non-null  int64
 3   DoubleMana     789879 non-null  int64
 4   EndType        789879 non-null  object
 5   ExtraMoves     789879 non-null  int64
 6   Level          789879 non-null  int64
 7   LevelType      789879 non-null  object
 8   LevelVersion   789879 non-null  int64
 9   MaxLevel       789879 non-null  int64
 10  NextCar        789879 non-null  int64
 11  Platform       789879 non-null  object
 12  PlayTime       789879 non-null  int64
 13  RollingLosses  789879 non-null  float64
 14  Scores         789879 non-null  int64
 15  ServerTime     789879 non-null  datetime64[ns]
 16  StartMoves     789879 non-null  int64
 17  SubLevel       789879 non-null  int64
 18  UsedChangeCar  789879 non-null  int64
 19  UsedCoins      789879 non-null  int64
 20  UsedMoves      789879 non-null  int64
 21  UserID         789879 non-null  object
 22  Variant        789879 non-null  int64
 23  WatchedVideo   789879 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(18), object(4)
memory usage: 144.6+ MB

In [10]:
df.head()

,AddMoves,BuyMoreMoves,Churn,DoubleMana,EndType,ExtraMoves,Level,LevelType,LevelVersion,MaxLevel,...,Scores,ServerTime,StartMoves,SubLevel,UsedChangeCar,UsedCoins,UsedMoves,UserID,Variant,WatchedVideo
0,0,0,0,0,Lose,0,80,Saga,6,80,...,2300,2019-01-01 00:00:08,22,50,0,0,22,0UAqFzWsDK4FrUMp48Y3,0,0
1,0,0,0,0,Lose,0,275,Saga,8,275,...,2865,2019-01-01 00:00:14,13,50,0,0,13,tT3QDgAL47D1qXIaSyZP,0,0
2,0,1,0,0,Win,5,4226,Saga,0,4226,...,4560,2019-01-01 00:00:16,21,0,0,27,26,aE1pu1lJo7XBetF5gIRH,0,0
3,0,0,0,0,Lose,0,131,Saga,0,131,...,2970,2019-01-01 00:00:27,13,50,0,0,13,YH7LKBKxJsllLODfU250,0,0
4,0,0,0,0,Lose,0,131,Saga,0,131,...,2180,2019-01-01 00:00:29,17,50,0,0,17,35HyRrY03K6JBO94XfLE,0,0

In [11]:
x = np.where(df["PlayTime"] == 2)[0]

In [12]:
df.loc[x, ['Level', 'LevelType', 'LevelVersion', 'MaxLevel', 'SubLevel'] + ["PlayTime"]]

        Level LevelType  LevelVersion  MaxLevel  SubLevel  PlayTime
149096    745      Saga             4       745         0         2
230701     80      Saga             6        80        50         2
478926     15      Saga             0       131        50         2
499856     55      Saga            10        58         0         2
686248     28      Saga            13        29         0         2
768334    342      Saga             7       342         0         2
771341     25      Saga            30        30        50         2

In [13]:
df.nunique()

AddMoves              1
BuyMoreMoves          8
Churn                 2
DoubleMana            1
EndType               4
ExtraMoves            8
Level              6240
LevelType             1
LevelVersion         35
MaxLevel           6230
NextCar               1
Platform              1
PlayTime           2562
RollingLosses       618
Scores             1779
ServerTime       737698
StartMoves           38
SubLevel              4
UsedChangeCar         1
UsedCoins           131
UsedMoves            60
UserID             4770
Variant               4
WatchedVideo          1
dtype: int64

In [14]:
df.describe()

,AddMoves,BuyMoreMoves,Churn,DoubleMana,ExtraMoves,Level,LevelVersion,MaxLevel,NextCar,PlayTime,RollingLosses,Scores,ServerTime,StartMoves,SubLevel,UsedChangeCar,UsedCoins,UsedMoves,Variant,WatchedVideo
count,789879.0,789879.000000,789879.000000,789879.0,789879.000000,789879.000000,789879.000000,789879.000000,789879.0,789879.000000,789879.000000,789879.000000,789879,789879.000000,789879.000000,789879.0,789879.000000,789879.000000,789879.000000,789879.0
mean,0.0,0.045677,0.006806,0.0,0.228383,474.050791,6.794656,474.970051,0.0,127.187226,11.865531,3218.710037,2019-02-24 22:51:47.251590656,18.936312,36.856572,0.0,1.388419,18.024115,0.088360,0.0
min,0.0,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,11.000000,0.0,2.000000,0.000000,0.000000,2019-01-01 00:00:08,5.000000,0.000000,0.0,0.000000,-5.000000,0.000000,0.0
25%,0.0,0.000000,0.000000,0.0,0.000000,66.000000,0.000000,67.000000,0.0,84.000000,1.000000,2445.000000,2019-01-26 16:49:30.500000,15.000000,0.000000,0.0,0.000000,14.000000,0.000000,0.0
50%,0.0,0.000000,0.000000,0.0,0.000000,142.000000,6.000000,142.000000,0.0,107.000000,3.000000,3050.000000,2019-02-24 23:16:40,19.000000,50.000000,0.0,0.000000,18.000000,0.000000,0.0
75%,0.0,0.000000,0.000000,0.0,0.000000,386.000000,10.000000,387.000000,0.0,137.000000,10.000000,3870.000000,2019-03-23 01:28:24.500000,22.000000,50.000000,0.0,0.000000,22.000000,0.000000,0.0
max,0.0,7.000000,1.000000,0.0,35.000000,6240.000000,34.000000,6240.000000,0.0,88938.000000,617.000000,11300.000000,2019-04-30 23:59:53,42.000000,50.000000,0.0,238.000000,59.000000,3.000000,0.0
std,0.0,0.240063,0.082218,0.0,1.200317,931.899420,6.546539,931.875899,0.0,291.939344,29.015963,1134.421662,NaN,5.250793,22.009010,0.0,5.534455,6.094208,0.328264,0.0

In [15]:
def generate_temporal_features(date):
    """Generate temporal features from timestamp string"""

    date = pd.Timestamp(date)

    return pd.Series(
        [
            date.year,
            date.quarter,
            date.is_quarter_start,
            date.is_quarter_end,
            date.month,
            date.is_month_start,
            date.is_month_end,
            date.week,
            date.day,
            date.day_of_year,
            date.day_of_week,
            date.hour,
            date.minute,
        ],
        index=[
            "year",
            "quarter",
            "quarter_start",
            "quarter_end",
            "month",
            "month_start",
            "month_end",
            "week",
            "day",
            "day_in_year",
            "day_of_week",
            "hour",
            "minute",
        ],
    )

In [16]:
# Converted to datetime
df["ServerTime"] = pd.to_datetime(df["ServerTime"])

In [17]:
new_df = df["ServerTime"].apply(generate_temporal_features)

In [18]:
final_df = pd.concat([df, new_df], axis=1)

In [19]:
final_df.isnull().sum()

AddMoves         0
BuyMoreMoves     0
Churn            0
DoubleMana       0
EndType          0
ExtraMoves       0
Level            0
LevelType        0
LevelVersion     0
MaxLevel         0
NextCar          0
Platform         0
PlayTime         0
RollingLosses    0
Scores           0
ServerTime       0
StartMoves       0
SubLevel         0
UsedChangeCar    0
UsedCoins        0
UsedMoves        0
UserID           0
Variant          0
WatchedVideo     0
year             0
quarter          0
quarter_start    0
quarter_end      0
month            0
month_start      0
month_end        0
week             0
day              0
day_in_year      0
day_of_week      0
hour             0
minute           0
dtype: int64

In [20]:
final_df.nunique()

AddMoves              1
BuyMoreMoves          8
Churn                 2
DoubleMana            1
EndType               4
ExtraMoves            8
Level              6240
LevelType             1
LevelVersion         35
MaxLevel           6230
NextCar               1
Platform              1
PlayTime           2562
RollingLosses       618
Scores             1779
ServerTime       737698
StartMoves           38
SubLevel              4
UsedChangeCar         1
UsedCoins           131
UsedMoves            60
UserID             4770
Variant               4
WatchedVideo          1
year                  1
quarter               2
quarter_start         2
quarter_end           1
month                 4
month_start           2
month_end             2
week                 18
day                  30
day_in_year         118
day_of_week           7
hour                 24
minute               60
dtype: int64

In [21]:
redundant_labels = final_df.nunique()[final_df.nunique() < 2].index
final_df.drop(labels = redundant_labels, axis=1, inplace=True)

In [22]:
y = final_df['Churn']
X = final_df.drop(labels=["UserID", "Churn", "ServerTime"], axis=1)

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789879 entries, 0 to 789878
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BuyMoreMoves   789879 non-null  int64
 1   EndType        789879 non-null  object
 2   ExtraMoves     789879 non-null  int64
 3   Level          789879 non-null  int64
 4   LevelVersion   789879 non-null  int64
 5   MaxLevel       789879 non-null  int64
 6   PlayTime       789879 non-null  int64
 7   RollingLosses  789879 non-null  float64
 8   Scores         789879 non-null  int64
 9   StartMoves     789879 non-null  int64
 10  SubLevel       789879 non-null  int64
 11  UsedCoins      789879 non-null  int64
 12  UsedMoves      789879 non-null  int64
 13  Variant        789879 non-null  int64
 14  quarter        789879 non-null  int64
 15  quarter_start  789879 non-null  bool
 16  month          789879 non-null  int64
 17  month_start    789879 non-null  bool
 18  month_end      789879 non-null  bool
 19  week           789879 non-null  int64
 20  day            789879 non-null  int64
 21  day_in_year    789879 non-null  int64
 22  day_of_week    789879 non-null  int64
 23  hour           789879 non-null  int64
 24  minute         789879 non-null  int64
dtypes: bool(3), float64(1), int64(20), object(1)
memory usage: 134.8+ MB

In [24]:
X.nunique()

BuyMoreMoves        8
EndType             4
ExtraMoves          8
Level            6240
LevelVersion       35
MaxLevel         6230
PlayTime         2562
RollingLosses     618
Scores           1779
StartMoves         38
SubLevel            4
UsedCoins         131
UsedMoves          60
Variant             4
quarter             2
quarter_start       2
month               4
month_start         2
month_end           2
week               18
day                30
day_in_year       118
day_of_week         7
hour               24
minute             60
dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, RobustScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import FeatureUnion
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

from imblearn.over_sampling import SMOTE
from imblearn.combine import SMOTETomek
from imblearn.pipeline import Pipeline

In [26]:
from sklearn import preprocessing

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, stratify=y)

In [29]:
y_train.shape

(552915,)

In [30]:
from sklearn.metrics import roc_auc_score, accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [34]:
def objective(trial):
    # Combine One hot encoding and stadard scaler to form one higher level transformer
    first_transformer = ColumnTransformer(
        transformers = [
            # Transformer name, transformer object, column index the transformer will work on
            ("endTypeEncoder", OneHotEncoder(), (1, 4, 13, 14, 15, 17, 18)),
            ("levelEncoder", StandardScaler(), (3, 5, 6, 8)),
        ],
        remainder="passthrough"
    )
    
    second_transformer = ColumnTransformer(
        transformers = [
            # Transformer name, transformer object, column index the transformer will work on
            ("endTypeEncoder", OneHotEncoder(), (1, 4, 13, 14, 15, 17, 18)),
            ("levelEncoder", RobustScaler(), (3, 5, 6, 8)),
        ],
        remainder="passthrough"
    )
    
    rf_params = {
        "n_estimators": trial.suggest_int("n_estimators", 100, 1000),
        "max_depth": trial.suggest_int("max_depth", 1, 10),
        "class_weight": trial.suggest_categorical("class_weight", choices=["balanced", "balanced_subsample"]),
        "criterion": trial.suggest_categorical("criterion", choices=["gini", "entropy", "log_loss"]),
        "min_samples_split": trial.suggest_int("min_samples_split", 2, 10),
        #"min_samples_leaf": trial.suggest_int("min_samples_leaf", 1, 10),
        #"max_leaf_nodes": trial.suggest_int("max_leaf_nodes", 1, 10),
        "bootstrap": trial.suggest_categorical("bootstrap", choices=[True, False])
    }
    smote_params = {
        "sampling_strategy": trial.suggest_float("sampling_strategy", .1, 1.0)
    }
    pca_params = {
        "n_components": trial.suggest_categorical("n_components", choices=range(10, 26)),
        "whiten": trial.suggest_categorical("whiten", choices=[True, False]),
        "iterated_power": trial.suggest_categorical("iterated_power", choices = range(1, 5)),
        "svd_solver": trial.suggest_categorical("svd_solver", choices=['full', 'arpack', 'randomized'])
    }

    model = Pipeline(
        steps = [
            ("transform", FeatureUnion(transformer_list = [
                ("first", first_transformer),
                ("second", second_transformer)
            ])), # Transform data
            ("reduce", PCA(**pca_params)),
            ("oversample", SMOTETomek(**smote_params)), # Oversample; solve data imbalance
            ("model", RandomForestClassifier(**rf_params))
        ]
    )

    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    metric = roc_auc_score(y_test, predictions)
    return metric

In [32]:
study = optuna.create_study(direction='maximize')

[I 2023-08-17 21:27:54,613] A new study created in memory with name: no-name-2f9b3810-2c89-46ba-ac82-1e0a1e82bcfa

In [ ]:
n_trials = 10
study.optimize(objective, n_trials=n_trials)

[I 2023-08-17 22:09:01,779] Trial 1 finished with value: 0.6343377134114095 and parameters: {'n_estimators': 668, 'max_depth': 5, 'class_weight': 'balanced_subsample', 'criterion': 'gini', 'min_samples_split': 2, 'bootstrap': True, 'sampling_strategy': 0.7372858559497293, 'n_components': 11, 'whiten': True, 'iterated_power': 1, 'svd_solver': 'arpack'}. Best is trial 1 with value: 0.6343377134114095.

In [ ]:
def build_model(best_params):
    # Combine One hot encoding and stadard scaler to form one higher level transformer
    model_hp = [
        "n_estimators",
        "max_depth",
        "class_weight",
        "criterion",
        "min_samples_split",
        "min_samples_leaf",
        "max_leaf_nodes",
        "bootstrap"
    ]
    smote_params = {
        k: v for (k, v) in best_params.items()
        if k in ["sampling_strategy"]
    }
    rf_params = {
        k: v for (k, v) in best_params.items()
        if k in model_hp
    }
    pca_params = {
        k: v for (k, v) in best_params.items()
        if k not in model_hp + ["sampling_strategy"]
    }
    
    first_transformer = ColumnTransformer(
        transformers = [
            # Transformer name, transformer object, column index the transformer will work on
            ("endTypeEncoder", OneHotEncoder(), (1, 4, 13, 14, 15, 17, 18)),
            ("levelEncoder", StandardScaler(), (3, 5, 6, 8)),
        ],
        remainder="passthrough"
    )
    
    second_transformer = ColumnTransformer(
        transformers = [
            # Transformer name, transformer object, column index the transformer will work on
            ("endTypeEncoder", OneHotEncoder(), (1, 4, 13, 14, 15, 17, 18)),
            ("levelEncoder", RobustScaler(), (3, 5, 6, 8)),
        ],
        remainder="passthrough"
    )


    model = Pipeline(
        steps = [
            ("transform", FeatureUnion(transformer_list = [
                ("first", first_transformer),
                ("second", second_transformer)
            ])), # Transform data
            ("reduce", PCA(**pca_params)),
            ("oversample", SMOTETomek(**smote_params)), # Oversample; solve data imbalance
            ("model", RandomForestClassifier(**rf_params))
        ]
    )
    
    return model

In [ ]:
study.best_params

In [ ]:
# Fit on training data
model = build_model(study.best_params)
model.fit(X_train, y_train)

In [ ]:
model.named_steps["model"].coef_.shape

In [ ]:
### Train ROC AUC
roc_auc_score(y_train, model.predict(X_train),)

In [ ]:
### Test ROC AUC
roc_auc_score(y_test, model.predict(X_test),)

In [ ]:
### Train accuracy
accuracy_score(y_train, model.predict(X_train),)

In [ ]:
### Test accuracy
accuracy_score(y_test, model.predict(X_test),)

In [ ]:
confusion_matrix(y_test, model.predict(X_test))

In [ ]:
y.value_counts(normalize=True)

### Report Outline

1. Discuss the steps for any data project.
    - Business Understanding
    - Data Understanding
    - Data Preparation
    - Data Modelling
    - Model validation
    - Deployment
<br>
<br>
2. Data Imbalance (Data + Learning Algorithm + Evaluation Metric =  ML Product)
    - Data
        - Data duplication or deduplication
        - Oversampling (SMOTE, ADASYN etcetera)
        - Undersampling (UnderMiss, NearMiss etc)
        - Over-Undersampling
    - Learning Algorithm (Cost-Sensitive Learning Algorithms)
        - Log Reg
        - SVMs
        - Decison Trees (Random Forest etcetera)
        - Make use `class_weight` parameter
    - Evaluation Metric
        - Precision
        - AUC score
        - Recall
        - PR AUC curve

Has Cancer but Doctor says they dont -> Cost high, False Negative
Has does not have Cancer but Doctor says they do -> Cost not as high, False Positive

In [ ]:
ohe = OneHotEncoder()

In [ ]:
colors = pd.DataFrame(["red", "green", "blue", "red"])

In [ ]:
colors

In [ ]:
ohe.fit(colors)

In [ ]:
ohe.transform(colors).todense()

In [ ]:
colors

In [ ]:
ohe.categories_

In [ ]:
ohe.

### Next Steps

1. Explore the possibility of generating more features from the `ServerTime` column.
2. Explore more avenues for treating the data imbalance.
3. Do some more EDA to better understand the data features and how they:
    - relate to each other (e.g. correlation)
    - how important they are for final prediction (e.g. feature importance)
    - Remove columns with a cardinality of 1:
        - `LevelType` column. It only contains one value (Saga).
        - `AddMoves` column. It only contains one value (0).
        - `DoubleMana` column. It only contains one value (0).
        - `NextCar` column. It only contains one value (0).

In [ ]:
X_train.nunique()